{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Skitter">
        <meta name="author" content="Nick Martin, Alex McHugh">
        <link rel="icon" href="bootstrap/favicon.ico">

        <title>Skitter</title>

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/extra.css' %}" rel="stylesheet">
    </head>

    <body>
        {% include 'components/navbar.html' %}

        {% block content %}{% endblock %}

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
