{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <p class="heading">Followers</p>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <img src="{% static 'images/sunglasses.svg' %}" class="user-img"/>
                </div>
                <div class="col-md-4">
                    <p class="heading">Nick M.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="skits">
        <div class="container">
            {% for id in "0123456789" %}
                <div class="col-md-6 col-lg-4">
                    {% include 'components/user.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}